<%- include("./partials/header.ejs") %>

<div class="register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <%- include("./partials/common/login-logo.ejs");%>
      <div class="card-body">
        <p class="login-box-msg">Register a new membership</p>
        <form action="/register" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Full name" name="name" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Retype password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
                <label for="agreeTerms">
                 I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <a href="/" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

  <% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
      <script>
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Email is not valid',
        })
      </script>
    <% }) %>
  <% } %>


  <script>
    $(document).Toasts('create', {
      class: 'bg-danger',
      title: 'Email is not valid',
    })
  </script>
</div>


<%- include("./partials/footer.ejs") %>